#allows us to initialize multiple docker containers

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: e-commerce-app
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/e-commerce-app
      - JWT_SECRET=your_jwt_secret_here
      - NODE_ENV=development
      - PORT=5003
    ports:
      - "5003:5003"
    depends_on:
      - db
    volumes:
      - ./backend:/app

  db:
    image: postgres:13-alpine
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: e-commerce-app
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: e-commerce-frontend
    environment:
      - REACT_APP_API_URL=http://localhost:5003
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules


volumes:
  postgres-data:


